{% extends 'admin/_base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
                </div>
                <div class="ibox-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deserunt dolorem,
                    ea eaque eligendi explicabo facilis, id illo in labore molestiae necessitatibus non
                    odio quasi quo quod repellat veniam voluptas!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}