<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} background-{{ message.tags }}">
                    <button type="button" class="close alert-close mt-0" data-dismiss="alert"
                            aria-label="Close">
                        <i class="fa fa-times-circle color-white"></i>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>