<div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li style="padding: 20px">
                        <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                    </li>

                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ request.user.get_full_name }}
                            <span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
                            <div class="dropdown-menu-links rounded-bottom delimiter-top p-1">
                                <ul class="pl-0">
                                    <li>
                                        <a href="#" class="dropdown-item">Installation</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Installation</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Installation</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out"></i> Log out
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>